<body onload="pageLoaded()">

    <nav>
        <a class="logo disable" href="/admin/index">3D CV</a>
        <ul>
            <li style="color:white;font-size: 25px;padding-right: 10px;">Admin</li>
            <li><a class="update-button" href="/admin/pwupdate">Account</a></li>
            <li><a class="nav-button" href="/user/logout">Logout</a></li>
        </ul>
    </nav>

    <h2 class="intro center">Manage User</h2>

    <div class="menubar">

        <form action="/admin/useradd" method="GET">
            <button type="submit" style="float:right" class="btn btn-secondary"><i class="fa fa-plus-circle"
                    aria-hidden="true" style="padding-right:10px; "></i>Add User</button>
        </form>


        <div style="width:80%;margin: auto;">

            <table class="table ">
                <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Paper CV</th>
                        <th>Digital CV</th>
                    </tr>
                </thead>
                <tbody>
                    <% user.forEach(function(model) { %>

                        <tr>
                            <td>
                                <button class="btn btn-danger" onclick="deleteUser('<%= model.id %>')"
                                    style="color:white;float:left"><i class="fa fa-trash"
                                        aria-hidden="true"></i></button>
                            </td>
                            <td>
                                <%=model.username%>
                            </td>
                            <td>
                                <%=model.name%>
                            </td>
                            <td>
                                <%=model.email%>
                            </td>
                            <td>
                                <%=model.phoneno%>
                            </td>
                            <td>
                                <% if(model.submitform==true){ %>
                                    <button type="submit" onclick=" window.open('/user/papercv/<%=model.id%>','_blank')"
                                        class="btn btn-outline-primary">Style 1</button>
                                    <button type="submit"
                                        onclick=" window.open('/user/papercv2/<%=model.id%>','_blank')"
                                        class="btn btn-outline-primary">Style 2</button>
                                    <button type="submit"
                                        onclick=" window.open('/user/papercv3/<%=model.id%>','_blank')"
                                        class="btn btn-outline-primary">Style 3</button>
                                    <%}else{ %>
                                        <button class="btn btn-outline-danger">Not submitted</button>
                                        <%} %>

                            </td>
                            <td>
                                <% if(model.submitform==true){ %>
                                    <button type="submit"
                                        onclick=" window.open('/user/<%=model.id%>/digitalcv/index','_blank')"
                                        class="btn btn-outline-primary">Style 1</button>
                                    <button type="submit"
                                        onclick=" window.open('/user/<%=model.id%>/digitalcv2/index','_blank')"
                                        class="btn btn-outline-primary">Style 2</button>
                                    <button type="submit"
                                        onclick=" window.open('/user/<%=model.id%>/digitalcv3/index','_blank')"
                                        class="btn btn-outline-primary">Style 3</button>
                                    <%}else{ %>
                                        <button class="btn btn-outline-danger">Not submitted</button>
                                        <%} %>
                            </td>

                        </tr>

                        <% }); %>
                </tbody>
            </table>
        </div>
        <!-- <br>
        <button class="btn btn-danger" style="color:white;float:left"><i class="fa fa-trash"
                aria-hidden="true"></i></button>
        <br>
        <div style="border-style: double;">
            <form method="POST" onsubmit="return validupdate()">
                <div class="form-group row">
                    <div class="col-xl-6 col-form-label center">
                        <label>Username:</label>
                        <input type="text" class="form-control" name="type" value="ja02" required>

                    </div>

                </div>
                <div>
                    <button style="width: 30%;" type="submit" class="btn btn-primary center">View</button>
                    <br>
                </div> -->

        </form>
    </div>
    </div>

</body>

<script>
    async function deleteUser(id) {
        var r = confirm("Confirm Delete?");

        if (r) {

            var response = await fetch("/admin/userdelete/" + id, {
                method: "POST",
                credentials: 'same-origin',
            });

            if (response.ok) {
                var data = await response.json();
                alert(data.message);
                window.location = data.url;
            } else {
                alert(response.status + ": " + response.statusText);
            }

        } else {
            alert("Cancel");
        }
    }

</script>