<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<style>
    .digital2 {
        background-image: none;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
    }

    .digital2logo {
        color: black;
        font-size: 40px;
        line-height: 80px;
        padding: 0px 80px;
        font-weight: 900;
    }

    .digital2logo:hover {
        color: black;
    }

    nav {
        background: white;
        height: 80px;
        width: 100%;
    }

    nav ul li a {
        color: black;
        font-size: 25px;
        padding: 7px 10px;
        border-radius: 3px;
    }

    .box {
        width: 70%;
        margin: auto;
    }

    .firstbox {
        height: 450px;
        background: linear-gradient(90deg, #000428, #004e92);
        background-repeat: no-repeat;
        background-size: 100% auto;
        animation: animate 10s linear infinite;
    }

    .iam {
        font-size: 60px;
        font-weight: 900;
        color: white;
        text-align: center;
    }

    .name {
        font-size: 60px;
        font-weight: 900;
        background: linear-gradient(90deg, rgb(187, 247, 92), white);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }

    .title {
        font-size: 50px;
        font-weight: 900;
    }

    .left {
        float: left;
        width: 50%;
        background: white;
        padding-left: 50px;
    }

    .left :is(h2, h3) {
        color: black;
        font-weight: 900;
    }

    .right :is(h2, h3) {
        color: black;
        font-weight: 900;
    }

    .right {
        float: left;
        width: 50%;
        background: white;
        padding-left: 50px;
    }

    .right2 {
        float: left;
        width: 50%;
        background: whitesmoke;
        padding-left: 50px;
    }

    .timeline li {
        box-sizing: border-box;
        padding: 20px 0px;
        padding-left: 10px;
        position: relative;
    }

    .line::before {
        content: '';
        position: absolute;
        width: 5px;
        height: 100%;
        background-color: black;
    }

    .line::before {
        content: '';
        position: absolute;
        width: 5px;
        top: 35px;
        height: 100%;
        background-color: black;
    }

    .timeline h2:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        top: 28px;
        left: 2.5px;
        border: solid 1px;
        background-color: white;
    }

    .timeline li {
        box-sizing: border-box;
        padding: 20px 0px;
        padding-left: 10px;
        position: relative;
    }

    .anibox div {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: 0px 0px 20px 15px rgba(211, 216, 222, 1);
        -moz-box-shadow: 0px 0px 20px 15px rgba(211, 216, 222, 1);
        box-shadow: 0px 0px 20px 15px rgba(211, 216, 222, 1);
        background-color: rgb(11, 252, 252);
        width: 60px;
        height: 60px;
        position: absolute;
    }

    .anibox div:nth-child(1) {
        top: 20%;
        left: 30%;
        animation: move 5s linear infinite;
    }

    .anibox div:nth-child(2) {
        top: 30%;
        left: 10%;
        animation: move 8s linear infinite;
    }

    .anibox div:nth-child(3) {
        top: 15%;
        left: 12%;
        animation: move 6s linear infinite;
    }

    .anibox div:nth-child(4) {
        top: 40%;
        left: 25%;
        animation: move 9s linear infinite;
    }

    .anibox div:nth-child(5) {
        top: 30%;
        left: 70%;
        animation: move 7s linear infinite;
    }

    .anibox div:nth-child(6) {
        top: 40%;
        left: 80%;
        animation: move 6s linear infinite;
    }

    .anibox div:nth-child(7) {
        top: 35%;
        left: 90%;
        animation: move 9s linear infinite;
    }

    .anibox div:nth-child(8) {
        top: 40%;
        left: 65%;
        animation: move 6s linear infinite;
    }

    .anibox div:nth-child(9) {
        top: 30%;
        left: 20%;
        animation: move 8s linear infinite;
    }

    .anibox div:nth-child(10) {
        top: 20%;
        left: 80%;
        animation: move 5s linear infinite;
    }

    .anibox div:nth-child(11) {
        top: 45%;
        left: 15%;
        animation: move 8s linear infinite;
    }

    .anibox div:nth-child(12) {
        top: 40%;
        left: 85%;
        animation: move 7s linear infinite;
    }

    .circle {
        width: 200px;
        height: 200px;
        line-height: 200px;
        border-radius: 50%;
        font-size: 25px;
        color: white;
        text-align: center;
        background: grey;
    }

    .bar {
        background-color: white;
        display: block;
        height: 20px;
        border: 1px solid;
        border-radius: 5px;
        box-shadow: 2px 2px 4px;

    }

    .bar span {
        background-color: #004e92;
        display: block;
        height: 20px;
        border-radius: 5px;
        animation: level 3s;
    }

    @keyframes level {
        0% {
            width: 0%;
        }
    }

    @keyframes move {
        0% {
            transform: scale(0) translateY(0) rotate(70deg);
        }

        100% {
            transform: scale(1.3) translateY(-50px) rotate(70deg);
        }
    }

    .contactinfo{
        font-weight: 700;
    }
    
</style>

<body class="digital2" style="padding-bottom: 50px;">

    <nav>
        <a class="digital2logo" href="/user/<%=user.id%>/digitalcv2/index">Home</a>
        <ul>
            <li><a href="/user/<%=user.id%>/digitalcv2/index#edu">Education</a></li>
            <li><a href="/user/<%=user.id%>/digitalcv2/index#exp">Experience</a></li>
            <li><a href="/user/<%=user.id%>/digitalcv2/skill">Skill</a></li>
            <% if (image.length>0||video.length>0) {%>
                <li><a href="/user/<%=user.id%>/digitalcv2/skill#multi">Multimedia</a></li>
                <%}%>
                    <% if (pdf.length>0) {%>
                        <li><a href="#" onclick="window.location.reload(true);">Certificate</a></li>
                        <%}%>
                            <li><a href="/user/<%=user.id%>/digitalcv2/cert#contact">Contact</a></li>
        </ul>
    </nav>

    <div class="firstbox">
        <div class="box">
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2 class="iam">Hello I am</h2>
            <br>
            <div>
                <h2 class="name">
                    <%=user.name%>
                </h2>
            </div>
            <div class="anibox">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div style="width:55%;margin: auto;" id="cert" >
        <h2 class="intro" style="font-weight: 900;"> <i class="fa fa-certificate" aria-hidden="true"
            style="padding-right: 20px;"></i>Certificate</h2>
            <h2 style="text-align: center;">
                By clicking  <i class="fa fa-mouse-pointer" aria-hidden="true" style="padding-left: 10px; padding-right: 10px;"></i>the name of the
                 PDF, you can view the entire PDF
             </h2>
        <div class="row">
            <div style="padding-left: 200px;">
                <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_h59xofz0.json"
                    background="transparent" speed="0.75" style="width: 300px; height: 300px;" loop autoplay>
                </lottie-player>
            </div>
            <div >
                <br>
                <br>
                <% pdf.forEach(function(model) { %>
                    <a style="font-size: 40px;padding-left:50px;" href="/user/<%=user.id%>/digitalcv2/pdf/<%=model.id%>" target="_blank">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                       <%=model.name%>
                    </a>
                    <br>
                    <% }); %>
            </div>
        </div>
    </div>

    <div style="width:50%;margin: auto;border: 10px solid rgb(53, 2, 2);"id="contact">
        <h2 class="intro" style="font-weight: 900;"><i class="fa fa-address-card-o" aria-hidden="true" style="padding-right: 20px;"></i>Contact</h2>
        <div class="row">
            <div style="padding-left: 20px;">
                <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_nnQHiM.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;"  loop autoplay ></lottie-player>
            </div>

            <div style="padding-left: 50px;">
                <br>
                <br>
                <br>
                <br>
                <h2 class="contactinfo"><i class="fa fa-user" aria-hidden="true" style="padding-right: 5px;"></i>
                    <%=user.name%>
                </h2>
                <br>
                <h2  class="contactinfo"><i class="fa fa-envelope" aria-hidden="true"  style="padding-right: 5px;"></i>
                    <%=user.email%>
                </h2>
                <br>
                <h2 class="contactinfo"><i class="fa fa-phone-square" aria-hidden="true"  style="padding-right: 5px;"></i>
                    <%=user.phoneno%><h2>
            </div>
        </div>
    </div>
    
</body>