<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<body onload="pageLoaded()">

    <nav>
        <a class="logo disable" href="/user/index2">3D CV</a>
        <ul>
            <li><a href="/user/guide">User Guide</a></li>
            <li><a href="/user/template">CV Template</a></li>
            <li><a class="update-button" href="/user/basicupdate">Profile</a></li>
            <li><a class="update-button" href="/user/multiupdate">Multimedia</a></li>
            <li><a class="nav-button" href="/user/logout">Logout</a></li>
        </ul>
    </nav>


    <!-- <h2 class="intro">Menu</h2> -->

    <div class="menubar">

        <div class="btnbar">
            <form action="/user/basicupdate" method="GET">
                <button><i class="fa fa-user" aria-hidden="true"></i>Personal</button>
            </form>
            <form action="/user/eduupdate" method="GET">
                <button style="color: violet;"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Education</button>
            </form>
            <form action="/user/workupdate" method="GET">
                <button><i class="fa fa-briefcase" aria-hidden="true"></i>Work</button>
            </form>
            <form action="/user/skillupdate" method="GET">
                <button><i class="fa fa-star" aria-hidden="true"></i>Skill</button>
            </form>
            <form action="/user/languageupdate" method="GET">
                <button><i class="fa fa-language" aria-hidden="true"></i>Language</button>
            </form>
            <form action="/user/pwupdate" method="GET">
                <button><i class="fa fa-lock" aria-hidden="true"></i>Password</button>
            </form>
        </div>

        <br>
        <form action="/user/eduadd" method="GET">
            <button type="submit" style="float:right" class="btn btn-secondary"><i class="fa fa-plus-circle"
                    aria-hidden="true" style="padding-right:10px;"></i>Add Record</button>
        </form>
        <br>
        <% education.forEach(function(model) { %>
            <button onclick="deleteEdu('<%= model.id %>')" class="btn btn-danger" style="color:white;float:left"><i
                    class="fa fa-trash" aria-hidden="true"></i></button>
            <br>
            <div style="border-style: double;">
                <form action="/user/eduupdate/<%=model.id%>" method="POST" onsubmit="return(valideduupdate())">
                    <div class="form-group row">
                        <div class="col-xl-4 col-form-label center">
                            <label>School:</label>
                            <input type="text" class="form-control" name="school" value="<%=model.school%>" list="optionlist" required>
                            <datalist id="optionlist">
                                <option value="City University of Hong Kong">City University of Hong Kong</option>
                                <option value="Hong Kong Baptist University">Hong Kong Baptist University</option>
                                <option value="Lingnan University">Lingnan University</option>
                                <option value="The Chinese University of Hong Kong">The Chinese University of Hong Kong</option>
                                <option value="The Education University of Hong Kong">The Education University of Hong Kong</option>
                                <option value="The Hong Kong Polytechnic University">The Hong Kong Polytechnic University</option>
                                <option value="The Hong Kong University of Science and Technology">The Hong Kong University of Science and Technology</option>
                                <option value="The University of Hong Kong">The University of Hong Kong</option>
                            </datalist>
                        </div>

                        <div class="col-xl-4 col-form-label center">
                            <label>Certification:</label>
                            <input type="text" class="form-control" name="certification"
                                value="<%=model.certification%>" required>
                        </div>

                        <div class="col-xl-2 col-form-label center">
                            <label>From:</label>
                            <input type="number" class="form-control" min="1900" max="<%=new Date().getFullYear()%>"
                                name="syear" id="syear" value=<%=model.syear%>
                            required>
                        </div>

                        <div class="col-xl-2 col-form-label center">
                            <label>To:</label>
                            <input type="number" class="form-control" min="1900" max="<%=new Date().getFullYear()%>"
                                name="eyear" id="eyear" value=<%=model.eyear%> required>
                        </div>

                    </div>

                    <div>
                        <button style="width: 30%;" type="submit" class="btn btn-primary center">Update</button>
                        <br>
                    </div>

                </form>

                
            </div>
            <br>
            <% }); %>
            <br>
    </div>
</body>


<script>
    function valideduupdate() {
        const syear = document.getElementById("syear").value;
        const eyear = document.getElementById("eyear").value;
        var valid = true;
        if (eyear < syear) {
            alert("Make sure the end year is latter or equal to the start year");
            valid = false;
        } else {
            alert("This record is updated");
            valid = true;
        }

        return valid;
    }

    async function deleteEdu(id) {
        var r = confirm("Confirm Delete?");

        if (r) {

            var response = await fetch("/user/edudelete/" + id, {
                method: "POST",
                credentials: 'same-origin',
            });

            if (response.ok) {
                var data = await response.json();
                alert(data.message);
                window.location = data.url;
            } else {
                alert(response.status + ": " + response.statusText);
            }

        } else {
            alert("Cancel");
        }
    }


</script>