<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<style>
    .index2 {
        background-image: none;
    }
</style>

<body class="index2">

    <nav>
        <a class="logo disable" href="/user/index2">3D CV</a>
        <ul>
            <li><a href="/user/guide">User Guide</a></li>
            <li><a href="#">CV Template</a></li>
            <li><a class="update-button" href="/user/basicupdate">Profile</a></li>
            <li><a class="update-button" href="/user/multiupdate">Multimedia</a></li>
            <li><a class="nav-button" href="/user/logout">Logout</a></li>
        </ul>
    </nav>


    <!-- <h2 class="intro">Menu</h2> -->

    <div class="menubar">

        <div class="btnbar">

            <button onclick="showTab(1); showcurrent(0)" class="buttongroup" style="color:violet"><i
                    class="fa fa-id-card-o" aria-hidden="true"></i>View Paper CV</button>
            <button onclick="showTab(2); showcurrent(1)" class="buttongroup"><i class="fa fa-desktop"
                    aria-hidden="true"></i>
                View Digital CV</button>
        </div>


        <div class="tab">
            <div style="float: right;">
                <lottie-player class="ani" src="https://assets10.lottiefiles.com/packages/lf20_ycbVE1.json"
                    background="transparent" speed="1" style="width: 400px; height: 400px;" loop autoplay>
                </lottie-player>
            </div>
            <h3><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Reminders:</h3>

            <br>
            <h4>1. The blank with * must be filled in</h4>
            <br>
            <h4>2. Make sure you input the real information</h4>
            <br>
            <h4>3. Look at the reminders of every single page</h4>
            <br>
            <h4>4. Click the back button to edit information of the previous page</h4>
            <br>
            <h4>5. After submitting, you can edit CV in profile</h4>
            <br>
            <form action="/user/basic" method="GET">
                <button id="create-button" type="submit" class="btn btn-primary">Start</button>
            </form>
        </div>



        <div class="tab">
            <div style="float: right;">
                <lottie-player class="ani" src="https://assets7.lottiefiles.com/packages/lf20_d0KDSI.json"
                    background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay>
                </lottie-player>
            </div>
            <h3><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Reminders:</h3>

            <br>
            <h4>1. Paper CV will be displayed in the new page</h4>
            <br>
            <h4>2. Edit informaction in profile in case it has wrong informaction</h4>
            <br>
            <h4>3. Right click of your mouse will display the print and save functions</h4>
            <br>
            <h4>4. Press ctrl+p to print or save the papercv</h4>
            <br>
            <br>

            <div class="row">

                <div class="card col-xl-4" style="border: none;padding-bottom: 50px;">
                    <h2 style="color:rebeccapurple;">Template 1</h2>
                    <img src="https://upload.cc/i1/2021/03/15/wdiegx.png" style="border: 1px solid black;">
                    <br>
                    <button id="create-button" type="submit" class="btn btn-outline-dark btn-block"
                        onclick="window.open('/user/papercv/<%=user.id%>','_blank')" target="_blank">View Template
                        1</button>
                </div>

                <div class="card col-xl-4" style="border: none;padding-bottom: 50px;">
                    <h2 style="color:rebeccapurple;">Template 2</h2>
                    <img src="https://upload.cc/i1/2021/03/15/E3kX6o.png" style="border: 1px solid black;">
                    <br>
                    <button id="create-button" type="submit" class="btn btn-outline-dark"
                        onclick="window.open('/user/papercv2/<%=user.id%>','_blank')" target="_blank">View Template
                        2</button>
                </div>

                <div class="card col-xl-4" style="border: none;">
                    <h2 style="color:rebeccapurple;">Template 3</h2>
                    <img src="https://upload.cc/i1/2021/03/15/8TYeVC.png" style="border: 1px solid black;">
                    <br>
                    <button id="create-button" type="submit" class="btn btn-outline-dark"
                        onclick="window.open('/user/papercv3/<%=user.id%>','_blank')" target="_blank">View Template
                        3</button>
                </div>

            </div>
        </div>

        <div class="tab">
            <div style="float: right;">
                <lottie-player class="ani" src="https://assets3.lottiefiles.com/packages/lf20_huzedm21.json"
                    background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay>
                </lottie-player>
            </div>

            <h3><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Reminders:</h3>

            <br>
            <h4>1. A website of Didgital CV will be displayed in the new page</h4>
            <br>
            <h4>2. Edit informaction in the account in case it has wrong informaction</h4>
            <br>
            <h4>3. Keep the link privately as it can be accessed by public</h4>
            <br>
            <h4>4. The website link can be used for interview</h4>
            <br>
            <br>

            <div style="padding-bottom: 100px;">
                <h2 style="color:rebeccapurple;">Template 1</h2>
                <div class="row">
                    <div class="card col-xl-4" style="border: none;">
                        <img src="https://upload.cc/i1/2021/03/15/49Y05a.png">
                    </div>

                    <div class="card col-xl-4" style="border: none;">
                        <img src="https://upload.cc/i1/2021/03/15/fgVlIH.png">
                    </div>

                    <div class="card col-xl-4" style="border: none;">
                        <img src="https://upload.cc/i1/2021/03/15/BHWwzm.png">
                    </div>

                    <div class="card col-xl-4" style="border: none;">
                        <br>
                        <img src="https://upload.cc/i1/2021/03/15/oL2CNE.png">
                    </div>

                    <div class="card col-xl-4" style="border: none;">
                        <br>
                        <img src="https://upload.cc/i1/2021/03/15/By4v9t.png">
                    </div>

                    <div class="card col-xl-4" style="border: none;">
                        <br>
                        <img src="https://upload.cc/i1/2021/03/15/yoR2LG.png">
                    </div>
                </div>
                <br>
                <a style="width:35%" class="btn btn-primary btn-block center" href="/user/<%=user.id%>/digitalcv/index"
                    target="_blank">View Template 1</a>
            </div>

            <div style="padding-bottom: 100px;">
                <h2 style="color:rebeccapurple;">Template 2</h2>
                <div class="row">
                    <div class="card col-xl-4" style="border: none;">
                        <img src="https://upload.cc/i1/2021/03/16/EaTANw.png">
                    </div>

                    <div class="card col-xl-4" style="border: none;">
                        <img src="https://upload.cc/i1/2021/03/16/Amc92t.png">
                    </div>

                    <div class="card col-xl-4" style="border: none;">
                        <img src="https://upload.cc/i1/2021/03/16/I5GShc.png">
                    </div>

                    <div class="card col-xl-4" style="border: none;">
                        <br>
                        <img src="https://upload.cc/i1/2021/03/16/kESPCO.png">
                    </div>

                    <div class="card col-xl-4" style="border: none;">
                        <br>
                        <img src="https://upload.cc/i1/2021/03/16/5nvpMF.png">
                    </div>

                    <div class="card col-xl-4" style="border: none;">
                        <br>
                        <img src="https://upload.cc/i1/2021/03/16/CaRG2f.png">
                    </div>
                </div>
                <br>
                <a style="width:35%" class="btn btn-primary btn-block center" href="/user/<%=user.id%>/digitalcv2/index"
                    target="_blank">View Template 2</a>
            </div>

            <div style="padding-bottom: 100px;">
                <h2 style="color:rebeccapurple;">Template 3</h2>
                <div class="row">
                    <div class="card col-xl-4" style="border: none;">
                        <img src="https://upload.cc/i1/2021/03/16/9ftIPm.png">
                    </div>

                    <div class="card col-xl-4" style="border: none;">
                        <img src="https://upload.cc/i1/2021/03/16/equQk4.png">
                    </div>

                    <div class="card col-xl-4" style="border: none;">
                        <img src="https://upload.cc/i1/2021/03/16/5LbXsY.png">
                    </div>

                    <div class="card col-xl-4" style="border: none;">
                        <br>
                        <img src="https://upload.cc/i1/2021/03/16/Mh8USz.png">
                    </div>

                    <div class="card col-xl-4" style="border: none;">
                        <br>
                        <img src="https://upload.cc/i1/2021/03/16/uMsb4O.png">
                    </div>

                    <div class="card col-xl-4" style="border: none;">
                        <br>
                        <img src="https://upload.cc/i1/2021/03/16/aP3zwA.png">
                    </div>

                    <div class="card col-xl-4" style="border: none;">
                        <br>
                        <img src="https://upload.cc/i1/2021/03/16/qBPCxV.png">
                    </div>
                </div>
                <br>
                <a style="width:35%" class="btn btn-primary btn-block center" href="/user/<%=user.id%>/digitalcv3/index"
                    target="_blank">View Template 3</a>
            </div>


        </div>

        <!-- <form action="/user/basic" method="GET">
            <button type="submit" class="btn btn-primary center">Create CV</button>
        </form>

        <br>

        <form action="" method="GET">
            <button type="submit" class="btn btn-primary center">View Digital CV</button>
        </form>

        <br>

        <form action="/user/papercv" method="GET">
            <button type="submit" class="btn btn-primary center">View Paper CV</button>
        </form> -->


    </div>



</body>

<script>
    var currentTab = 1; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab

    function showTab(n) {
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
        for (i = 0; i < x.length; i++) {
            if (i != n) {
                x[i].style.display = "none";
            }
        }
    }

    var currenbutton = 0;
    showcurrent(currentbutton);

    function showcurrent(n) {
        var x = document.getElementsByClassName("buttongroup");
        x[n].style.color = "violet";
        for (i = 0; i < x.length; i++) {
            if (i != n) {
                x[i].style.color = "black";
            }
        }
    }
</script>