<body>

    <nav>
        <a class="logo disable" href="/user/index2">3D CV</a>
        <ul>
            <li><a href="#">User Guide</a></li>
            <li><a href="#">CV Template</a></li>
            <li><a class="update-button" href="/user/basicupdate">Profile</a></li>
            <li><a class="update-button" href="/user/multiupdate">Multimedia</a></li>
            <li><a class="nav-button" href="/user/logout">Logout</a></li>
        </ul>
    </nav>


    <div class="menubar">

        <div class="btnbar">
            <form action="/user/multiupdate" method="GET">
                <button><i class="fa fa-user" aria-hidden="true"></i>Personal Photo</button>
            </form>
            <form action="/user/imgupdate" method="GET">
                <button><i class="fa fa-picture-o" aria-hidden="true"></i></i>Image</button>
            </form>
            <form action="/user/videoupdate" method="GET">
                <button><i class="fa fa-video-camera" aria-hidden="true"></i></i>Video</button>
            </form>
            <form action="/user/pdfupdate" method="GET">
                <button style="color: violet;"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>PDF</button>
            </form>
            <form action="/user/pdfadd" method="GET">
                <button type="submit" style="color:orangered;float:right;"><i class="fa fa-plus-circle"
                        aria-hidden="true"></i>Add PDF</button>
            </form>
        </div>


        <div class="row">
            <% pdf.forEach(function(model) { %>
                <div class="card col-xl-6 control-label">

                    <a style="text-align: center; font-size: 30px; text-decoration: underline;" href="/user/pdfview/<%=model.id%>" target="_blank">View PDF: <%=model.name%></a>

                    <form action="/user/pdfupdate/<%=model.id%>" method="POST" enctype="multipart/form-data"
                        onsubmit="return validupdate()">
                        <br>
                        <label>PDF name:</label>
                        <input type="text" class="form-control" name="pdfname" value=<%=model.name%> required>
                        <div class="custom-file">
                            <input type="file" accept="application/pdf" name="avatarfile" id="avatarfile" value=<%model.file%> required/>
                        </div>

                        <button type="submit" class="btn btn-dark btn-block">Update</button>
                    </form>
                    <br>
                    <button class="btn btn-danger" onclick="deletePDF('<%= model.id %>')"
                        style="color:white;float:left"><i class="fa fa-trash" aria-hidden="true"
                            style="padding-right:5px"></i>Delete PDF</button>
                    <br>

                </div>
                <% }); %>
        </div>

    </div>

</body>

<script>

    function validupdate() {
        var valid = true;
        
        alert("PDF update successfully");
        
        return valid;
    }

    async function deletePDF(id) {
        var r = confirm("Confirm Delete?");

        if (r) {

            var response = await fetch("/user/pdfdelete/" + id, {
                method: "POST",
                credentials: 'same-origin',
            });

            if (response.ok) {
                var data = await response.json();
                alert(data.message);
                window.location = data.url;
            } else {
                alert(response.status + ": " + response.statusText);
            }

        } else {
            alert("Cancel");
        }
    }

</script>