<style>
    .workbox {
        width: 60%;
        margin: auto;
    }

    .digtial1logo {
        color: white;
        font-size: 50px;
        line-height: 80px;
        padding: 0px 80px;
        font-weight: bold;
    }
</style>

<body class="cv1">
    <nav class="digital1">
        <a class="digtial1logo disable" href="/user/<%=user.id%>/digitalcv/index">My CV</a>
        <ul>
            <li><a href="/user/<%=user.id%>/digitalcv/index#edu">Education</a></li>
            <li><a href="#" onclick="window.location.reload(true);">Work</a></li>
            <li><a href="/user/<%=user.id%>/digitalcv/skill">Skill</a></li>
            <% if (image.length>0||video.length>0) {%>
                <li><a href="/user/<%=user.id%>/digitalcv/multi">Multimedia</a></li>
                <%}%>
                    <% if (pdf.length>0) {%>
                        <li><a href="/user/<%=user.id%>/digitalcv/cert">Certificate</a></li>
                        <%}%>
                            <li><a href="/user/<%=user.id%>/digitalcv/contact">Contact</a></li>
        </ul>
    </nav>
    <br>
    <div class="workbox" id="work">
        <h2 class="intro"> <i class="fa fa-briefcase" aria-hidden="true" style="padding-right: 20px;"></i>Work</h2>

        <% work.forEach(function(model) { %>
            <div class="card">
                <a href="https://google.com/search?q=<%=model.company%>" target="_blank" style="color:black">
                    <div class="card-header">
                        <h2>
                            <%=model.start%> to <%=model.end%> &nbsp;
                                    <%=model.company%>
                        </h2>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">
                            <%=model.job%>
                        </h3>
                        <h4 class="card-text" style="font-weight: 300;">
                            <%=model.description%>
                        </h4>
                    </div>
                </a>
            </div>
            <br>
            <% }); %>
    </div>

</body>